In [83]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv(r"C:\Users\zanny\Desktop\School\NCAIR Cohort\Data Science Beginners\Project\National Survey of Drug Use and Health\Dataset and Splits\Cleaned Womens Dataset.csv")

In [ ]:
df.describe()

,age2,eduhighcat,irwrkstat,irmaritstat,imother,ifather,irhhsiz2,frdmjmon,talkprob,govtprog,...,alcyr,alcever,alcydays,alcmfu,alcbng30d,alclimit,alcpdang,drvinalco,txyralc,txalconly
count,3515.000000,3515.0,3515.000000,3515.00000,3515.000000,3515.000000,3515.000000,3515.000000,3515.00000,3515.000000,...,3515.000000,3515.000000,3515.000000,3515.000000,3515.000000,3515.000000,3515.000000,3515.0,3515.000000,3515.000000
mean,4.117781,5.0,33.990327,34.55192,1.125747,1.374964,4.096159,1.322048,1.91835,1.686202,...,0.452632,1.456899,4.058606,72.287624,75.656330,70.760740,70.775249,0.0,0.007112,96.582361
std,1.567785,0.0,44.791154,44.39702,0.335026,0.487112,1.227588,0.467328,0.27387,0.464101,...,0.497822,0.498210,2.233262,37.397990,34.940102,38.220289,38.130174,0.0,0.084046,3.963296
min,1.000000,5.0,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.0,0.000000,1.000000
25%,3.000000,5.0,3.000000,4.00000,1.000000,1.000000,3.000000,1.000000,2.00000,1.000000,...,0.000000,1.000000,1.000000,85.000000,91.000000,91.000000,91.000000,0.0,0.000000,91.000000
50%,4.000000,5.0,4.000000,4.00000,1.000000,1.000000,4.000000,1.000000,2.00000,2.000000,...,0.000000,1.000000,6.000000,91.000000,91.000000,91.000000,91.000000,0.0,0.000000,99.000000
75%,5.000000,5.0,99.000000,99.00000,1.000000,2.000000,5.000000,2.000000,2.00000,2.000000,...,1.000000,2.000000,6.000000,94.000000,93.000000,93.000000,93.000000,0.0,0.000000,99.000000
max,6.000000,5.0,99.000000,99.00000,3.000000,3.000000,6.000000,2.000000,2.00000,2.000000,...,1.000000,2.000000,6.000000,99.000000,98.000000,98.000000,98.000000,0.0,1.000000,99.000000

In [ ]:
cat_cols= [
    'age2',
    'eduhighcat',   # Education level
    'irwrkstat',    # Work status
    'irmaritstat',  # Marital status
    'imother',      # Mother in household (binary)
    'ifather',      # Father in household (binary)
    'frdmjmon',     # Friends' attitude toward marijuana
    'talkprob',     # Who they talk to about serious problems
    'govtprog',     # Received government assistance (binary)
    'mjever',       # Ever used marijuana (binary)
    'mjonlyflag',   # Used only marijuana (binary)
    'mjonlyyr',     # Monthly marijuana-only use (binary)
    'mjprior',      # Used marijuana before past year (binary)
    'mjpriyr',      # Used marijuana in past year (binary)
    'alcflag',      # Used alcohol in past year (binary)
    'alcever',      # Ever drank alcohol (binary)
    'alcmfu',       # Age of first drunkenness (grouped or coded)
    'alcbng30d',    # Binge drinking indicator (binary)
    'alclimit',     # Tried to cut back drinking (binary)
    'alcpdang',     # Drinking caused danger (binary)
    'drvinalco',    # Drove under influence (binary)
    'txyralc',      # Received treatment for alcohol (binary)
    'txalconly'     # Treatment was for alcohol only (binary)
]

In [88]:
df['age2'].value_counts()

age2
6.0    842
5.0    795
4.0    747
3.0    492
2.0    344
1.0    295
Name: count, dtype: int64

In [89]:
df['frdmjmon'].value_counts()

frdmjmon
1.0    2383
2.0    1132
Name: count, dtype: int64

In [90]:
df['frdmjmon'].nunique()

2